<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scu.mapper.TemplateDataMapper">

    <select id="getAllTemplateData" resultType="java.util.LinkedHashMap">
        SELECT * FROM template_data_${templateId}
    </select>
    <select id="getAuditedTemplateData" resultType="java.util.LinkedHashMap">
        SELECT * FROM template_data_${templateId} WHERE status = 1
    </select>
    <select id="getUnAuditedTemplateData" resultType="java.util.LinkedHashMap">
        SELECT * FROM template_data_${templateId} WHERE status = 0
    </select>

    <!--    <update id="updateStatusToPass">-->
<!--        UPDATE template_data_${templateId} SET status = 1 WHERE id IN #{templateDataId}-->
<!--    </update>-->

    <update id="updateStatusToPass">
        UPDATE template_data_${templateId}
        SET status = 1
        WHERE id IN
        <foreach collection="templateDataId" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="getTemplateDataByFieldCondation" resultType="java.util.LinkedHashMap">
        SELECT * FROM template_data_${templateId}
        <where>
            <foreach collection="condations" item="value" index="key" separator=" AND ">
                ${key} = #{value}
            </foreach>
        </where>
    </select>


</mapper>